<launch>

  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/caster_test/caster_alpha2.xml'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Needs calibration? -->
  <node pkg="mechanism_bringup" type="calibrate.py"
  	args="$(find qualification)/tests/caster_test/caster_cal_alpha2.xml" />
</launch>
