<launch>
<!-- Pulls description from qualification system -->
 <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/wrist_test/wrist.xml'" />

  <machine name="xenomai_root" user="root" address="$(env ROS_TEST_HOST)" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never" />

<!-- pr2_etherCAT -->
<node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /robotdesc/pr2"/>

<!-- Wrist Calibration -->
<include file="$(find qualification)/tests/wrist_test/calibrate.launch" />

</launch>