<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <!-- No roll wrist MCB -->
  <node machine="realtime" pkg="qualification" type="configure_mcbs.py" args="--motor=r_elbow_flex_motor,0" />

  <!-- service -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>

</launch>
