<launch>
<!--
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/shoulder_test/shoulder.xml'" />

  <include file="$(find qualification)/tests/init.machine" />
-->
<!-- pr2_etherCAT
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />
 -->

<node pkg="qualification" type="visual_verifier.py" args="$(find qualification)/tests/shoulder_test/view.vcg 'Move the links and confirm they look right.'" />

</launch>
