<launch>
  <!-- Use this to debug aggregator node in GDB -->
  <!-- launch-prefix="xterm -e gdb -args"  -->
  <node 
        pkg="diagnostic_aggregator" type="aggregator_node"
        name="diag_agg" args="CPP" output="screen" >
    <rosparam command="load" 
              file="$(find diagnostic_aggregator)/demo/pr2_analyzers.yaml" />

  </node>
</launch>
