<launch>
  <include file="$(find wg_robot_description)/pr2/send_description.launch" />

<!-- pr2_etherCAT -->
  <node pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robotdesc/pr2"/>

<!-- PR2 Calibration -->
  <node pkg="mechanism_bringup" type="calibrate.py" args="calibrate.xml"output="screen" />

<!-- Power Board Control Node -->
  <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

<!-- Battery Monitor -->
  <node machine="two" pkg="IBPSBatteryInterface" type="monitorBatteries" respawn="true"/>

<!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord" args="-f /hwlog/prf_runtime_automatic /diagnostics" />

</launch>

