<launch>

<!-- Cartesian pose controller -->

  <!-- parameters for pose controller -->
  <param name="cartesian_pose/root_name" type="string" value="torso_lift_link" />
  <param name="cartesian_pose/tip_name" type="string" value="r_wrist_roll_link" />
  <param name="cartesian_pose/p" value="20.0" />
  <param name="cartesian_pose/i" value="0.1" />
  <param name="cartesian_pose/d" value="0.0" />
  <param name="cartesian_pose/i_clamp" value="0.5" />

  <!-- parameters for twist controller -->
  <param name="cartesian_pose/twist/ff_trans" value="20.0" />
  <param name="cartesian_pose/twist/ff_rot" value="5.0" />
  <param name="cartesian_pose/twist/fb_trans_p" value="20.0" />
  <param name="cartesian_pose/twist/fb_trans_i" value="0.5" />
  <param name="cartesian_pose/twist/fb_trans_d" value="0.0" />
  <param name="cartesian_pose/twist/fb_trans_i_clamp" value="1.0" />
  <param name="cartesian_pose/twist/fb_rot_p" value="1.5" />
  <param name="cartesian_pose/twist/fb_rot_i" value="0.1" />
  <param name="cartesian_pose/twist/fb_rot_d" value="0.0" />
  <param name="cartesian_pose/twist/fb_rot_i_clamp" value="0.2" />

  <node pkg="mechanism_control" type="spawner.py" args="$(find arm_life_test)/cartesian_pose.xml" />
</launch>
