<launch>

<!-- Cartesian ik twist controller -->
  <param name="cartesian_twist_ik/root_name" type="string" value="torso_lift_link" />
  <param name="cartesian_twist_ik/tip_name" type="string" value="r_wrist_roll_link" />

  <param name="cartesian_twist_ik/joystick_max_trans" value="2.5" />
  <param name="cartesian_twist_ik/joystick_max_rot" value="4.5" />	

  <param name="cartesian_twist_ik/joint/p" value="5.0" />
  <param name="cartesian_twist_ik/joint/i" value="2.0" />
  <param name="cartesian_twist_ik/joint/d" value="0.0" />
  <param name="cartesian_twist_ik/joint/i_clamp" value="2.0" />

  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/cartesian_twist_ik.xml" output="screen" />
</launch>
