<launch>

<!-- Cartesian wrench controller -->
  <param name="cartesian_wrench/autostart" type="bool" value="true" />
  <param name="cartesian_wrench/root_name" type="string" value="torso_lift_link" />
  <param name="cartesian_wrench/tip_name" type="string" value="r_gripper_tool_frame" />

  <node pkg="mechanism_control" type="spawner.py" args="$(find arm_life_test)/cartesian_wrench.xml" output="screen" />
</launch>
