<launch>


<!-- Cartesian wrench controller -->
  <param name="r_arm_cartesian_wrench_controller/root_name" type="string" value="torso_lift_link" />
  <param name="r_arm_cartesian_wrench_controller/tip_name" type="string" value="r_gripper_tool_frame" />


<!-- Cartesian tff controller -->
  <param name="r_arm_cartesian_tff_controller/root_name" type="string" value="torso_lift_link" />
  <param name="r_arm_cartesian_tff_controller/tip_name" type="string" value="r_gripper_tool_frame" />
  <param name="r_arm_cartesian_tff_controller/output" type="string" value="r_arm_cartesian_wrench_controller" />

  <param name="r_arm_cartesian_tff_controller/twist_to_wrench_trans" value="10.0" />
  <param name="r_arm_cartesian_tff_controller/twist_to_wrench_rot" value="1.0" />

  <param name="r_arm_cartesian_tff_controller/vel_trans/p" value="2.0" />
  <param name="r_arm_cartesian_tff_controller/vel_trans/i" value="0.5" />
  <param name="r_arm_cartesian_tff_controller/vel_trans/d" value="0.0" />
  <param name="r_arm_cartesian_tff_controller/vel_trans/i_clamp" value="1.0" />

  <param name="r_arm_cartesian_tff_controller/vel_rot/p" value="0.3" />
  <param name="r_arm_cartesian_tff_controller/vel_rot/i" value="0.1" />
  <param name="r_arm_cartesian_tff_controller/vel_rot/d" value="0.0" />
  <param name="r_arm_cartesian_tff_controller/vel_rot/i_clamp" value="0.2" />


  <param name="r_arm_cartesian_tff_controller/pos_trans/p" value="10.0" />
  <param name="r_arm_cartesian_tff_controller/pos_trans/i" value="0.5" />
  <param name="r_arm_cartesian_tff_controller/pos_trans/d" value="0.0" />
  <param name="r_arm_cartesian_tff_controller/pos_trans/i_clamp" value="1.0" />

  <param name="r_arm_cartesian_tff_controller/pos_rot/p" value="0.5" />
  <param name="r_arm_cartesian_tff_controller/pos_rot/i" value="0.1" />
  <param name="r_arm_cartesian_tff_controller/pos_rot/d" value="0.0" />
  <param name="r_arm_cartesian_tff_controller/pos_rot/i_clamp" value="0.2" />

  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/r_arm_cartesian_wrench_controller.xml $(find pr2_default_controllers)/r_arm_cartesian_tff_controller.xml" output="screen"/>
</launch>
