<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find arm_life_test)/full_arm.xml'" />

  <machine name="xenomai_root" user="root" address="$(env ROS_TEST_HOST)" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never"/>   

<!-- pr2_etherCAT -->
  <node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robotdesc/pr2"/>

<!-- Arm Calibration -->
  <include file="$(find arm_life_test)/calibrate.launch" />

<!-- spacenav -->
  <node pkg="spacenav_node" type="spacenav_node" />

</launch>
