<launch>

<!-- parameters for twist controller -->

  <param name="cartesian_twist/root_name" type="string" value="torso_lift_link" />
  <param name="cartesian_twist/tip_name" type="string" value="r_wrist_roll_link" />

  <param name="cartesian_twist/joystick_max_trans" value="3.0" />
  <param name="cartesian_twist/joystick_max_rot" value="4.0" />

  <param name="cartesian_twist/trans_p" value="20.0" />
  <param name="cartesian_twist/trans_i" value="0.5" />
  <param name="cartesian_twist/trans_d" value="0.0" />
  <param name="cartesian_twist/trans_i_clamp" value="1.0" />
  <param name="cartesian_twist/rot_p" value="1.5" />
  <param name="cartesian_twist/rot_i" value="0.1" />
  <param name="cartesian_twist/rot_d" value="0.0" />
  <param name="cartesian_twist/rot_i_clamp" value="0.2" />

  <node pkg="mechanism_control" type="spawner.py" args="$(find arm_life_test)/cartesian_twist.xml" />


<!-- Gripper controller -->
  <param name="joint" value="r_gripper_l_finger_joint"/>
  <param name="max_effort" value="10"/>
  <param name="joy_axis" value="2"/>
  <param name="joy_dead_zone" value="0.2"/>
  <param name="joy_button_positive" value="0"/>
  <param name="joy_button_negative" value="1"/>
  <node pkg="teleop_joint_effort" type="teleop_joint_effort_button.py" output="screen">
  <remap from="joy" to="spacenav/joy"/>
</node>
</launch>
