<launch>

  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/gripper_test/gripper.xml'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Gripper Calibration -->
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="$(find qualification)/tests/gripper_test/gripper_cal.xml" />

</launch>
