<launch>
<!-- Launches all files needed for hot box tests -->
<include file="$(find arm_life_test)/arm_life_test.launch" />
<node pkg="torso_lift_test" type="run_torso_lift_test.py" />
<node pkg="head_life_test" type="run_head_test.py" />
<node pkg="pr2_experimental_controllers" type="base_shuffle.py" args="0.5" />
</launch>
