<launch>
  <node pkg="diagnostic_aggregator" type="aggregator_node"
        name="diag_agg" output="screen" >
    <rosparam command="load" 
              file="$(find diagnostic_aggregator)/test/expected_stale_analyzers.yaml" />
  </node>

  <node pkg="diagnostic_aggregator" type="expected_stale_pub.py"
        name="diag_pub" />

  <test pkg="diagnostic_aggregator" type="expected_stale_test.py"
        name="expected_stale_tester"
        test-name="expected_stale_items_not_missing" />
</launch>
