<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- programs_mcbs -->
  <node machine="realtime" pkg="qualification" type="program_mcb.py" args="--wg005=1 --wg005=2" />

  <node machine="realtime" pkg="qualification" type="count_mcbs.py" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
