<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find life_test)/wrist_test/wrist.xml'" />

  <include file="$(find life_test)/init.machine" />
  <include file="$(find life_test)/pr2_etherCAT.launch" />

  <!-- Calibration -->
  <node pkg="mechanism_bringup" type="calibrate.py"
        args="$(find life_test)/wrist_test/wrist_cal.xml"
        output="screen" />

  <!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord"
        args="-f ~/wrist_test.bag /diagnostics" />
 
  <include file="$(find life_test)/wrist_test/life_test.launch" />

</launch>
