<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/torso_lift_test/torso.xml'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <!-- Torso Calibration -->
  <include file="$(find qualification)/tests/torso_lift_test/calibrate.launch" />

</launch>
