<launch>
  <!-- Turn on power board manually, and power cycle after script completes -->
  <!-- Call from localhost, after setting ROS_TEST_HOST -->

  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="configure_mcbs.py" args="--motor=torso_lift_motor,0" />

  <!-- service -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
