<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="configure_mcbs.py" args="--motor=fl_caster_r_wheel_motor_alpha2,0 --motor=fl_caster_l_wheel_motor_alpha2,1 --motor=fl_caster_rotation_motor_alpha2,2" />

  <node machine="realtime" pkg="qualification" type="count_mcbs.py" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>