<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="configure_mcbs.py" args="--motor=fr_caster_l_wheel_motor,0 --motor=fr_caster_r_wheel_motor,1 --motor=fr_caster_rotation_motor,2" />

  <node machine="realtime" pkg="qualification" type="count_mcbs.py" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
