<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="realtime" pkg="qualification" type="configure_mcbs.py" args="--motor=torso_lift_motor,0" />

  <node machine="realtime" pkg="qualification" type="count_mcbs.py" />

  <!-- Confirm configuation -->
  <node pkg="qualification" type="confirm_conf.py" output="screen"/>
</launch>
