<launch>
  <node pkg="diagnostic_aggregator" type="aggregator_node"
        name="diag_agg" output="screen" >
    <rosparam command="load" 
              file="$(find test_diagnostic_aggregator)/test/match_then_analyze.yaml" />
  </node>

  <node pkg="test_diagnostic_aggregator" type="match_analyze_pub.py"
        name="match_analyze_pub" />

  <test test-name="match_then_analyze_item" 
        pkg="test_diagnostic_aggregator" type="match_analyze_test.py"
        name="match_then_analyze_item" args="--header=Analyze" />
</launch>
