<launch>

  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/full_arm_test/full_arm.xml'" />

  <!-- Loads xenomai_root machine and PR2_etherCAT -->
  <include file="$(find qualification)/tests/init.machine" />

  <!-- Full Arm Calibration uses sequential arm calibrator -->
  <include file="$(find qualification)/tests/full_arm_test/calibrate.launch" />


</launch>
