<launch>

  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/full_arm_test/full_arm.xml'" />

  <machine name="xenomai_root" user="root" address="$(env ROS_TEST_HOST)" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never"/>   

<!-- pr2_etherCAT -->
<node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robotdesc/pr2"/>

<!-- Shoulder Calibration -->
<include file="$(find qualification)/tests/full_arm_test/calibrate.launch" />

<!-- shoulder -->
<node pkg="pr2_power_board" type="power_node" />
<node pkg="pr2_power_board" type="send_command.py" args="0 start"/>

</launch>
