<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find qualification)/tests/full_arm_test/full_arm.xml'" />

  <param name="full_arm_test/side" value="r" type="str" />

  <include file="$(find qualification)/tests/init.machine" />
  <include file="$(find qualification)/tests/pr2_etherCAT.launch" />

  <node pkg="mechanism_bringup" type="calibrate_arms.py"/>
	args="$(find qualification)/tests/full_arm_test/full_arm_cal.xml" /> 
 
</launch>
