<launch>
  <node pkg="diagnostic_common_diagnostics" type="ram_monitor_psutil_mock.py" name="ram_monitor" args="--percentage 50">
    <param name="warning_percentage" value="60" />
  </node>

  <test test-name="test_ram_monitor_output" pkg="diagnostic_common_diagnostics" type="test_ram_monitor.py">
    <param name="expected_level" value="0" />
  </test>
</launch>
