from launch import LaunchDescription
import launch_ros.actions
import os
from launch.substitutions import EnvironmentVariable
import pathlib

def generate_launch_description():
    os.environ['MY_ENV_VAR'] = 'my_env_value'
    print(" i am here after os.environ")
    return LaunchDescription([
        launch_ros.actions.Node(
            package='diagnostic_common_diagnostics', node_executable='cpu_monitor', output='screen'),
        launch_ros.actions.Node(
           package='diagnostic_common_diagnostics', node_executable='test_cpu_monitor', node_name='test_cpu_monitor',output='screen',
           ),
    ])


