name: Test diagnostics
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '17 8 * * *'

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
    steps:
      - uses: ros-tooling/setup-ros@v0.1
        with:
          required-ros-distributions: rolling
      - uses: ros-tooling/action-ros-ci@v0.1
        with:
          target-ros2-distro: rolling
          package-name: diagnostic_aggregator diagnostic_updater self_test
          colcon-mixin-name: coverage-gcc
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - uses: actions/upload-artifact@v1
        with:
          name: colcon-logs-${{ matrix.os }}
          path: ros_ws/log
